.game-container {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/gameboardbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
}

.GameBoardFlexContainer {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 24px;
    justify-content: space-between;
    height: 100%;
}

.content {
    perspective: 1000px;
    transform-style: preserve-3d;
    display: flex;
    align-items: stretch;
    will-change: transform;
    transition: transform 1s;
    width: 7.5vw;
}

.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    flex: 0 0 auto;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    margin-left: -100%;
}

.singleCard {
    width: 7vw;
}

.cardList {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    width: 7.5vw;
}

.cardList:not(:first-child) {
    margin-left: -50px;
}

.cardList img {
    width: 100%;
    display: block;
}