.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
}

.alert {
    margin-bottom: 10px;
}

.registration-form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.registration-form-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.registration-form-btn-primary {
    width: 100%;
    padding: 10px;
}
